<section class="latest-news content-background">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <article class="row post">
        <p>O Tá Safo é uma comunidade que nasceu em Belém no estado do Pará, que vem representando e
buscando a integração em toda a região Norte, atuando fortemente no estado de origem e nas regiões
próximas. Hoje a comunidade atua como integradora junto a outras comunidades e grupos da região que
estão buscando a inovação, a disseminação do conhecimento e de novas formas de empreender, com o
objetivo maior de formação do capital intelectual e elevação da qualidade.</p>

    <p>Nos últimos 5 anos o Tá Safo buscou agregar um maior número de participantes ativos mostrando o
formato democrático e aberto que a comunidade se estrutura sem líderes nomeados, sem estruturação
hierárquica, e moldando suas ações sempre alinhadas à vontade colocada pela própria comunidade.</p>

<p>Desde 2009 o Tá Safo vem promovendo vários eventos, incluindo alguns nacionalmente conhecidos como
o Maré de Agilidade (2009), o Agile Tour (2011), o próprio TáSafoConf (2012) e o DevFestNorte ­ GDG
Belém (2014), e entre esses, os conhecidos por todos na comunidade, os encontros do #tasafoemacao
(http://tasafo.wordpress.com/tasafoemacao/), além dos coding dojos, hora do desapego, papo safo,
#tasafodev (https://tasafo.wordpress.com/2015/05/07/tasafodev­1­15/), entre outras iniciativas realizadas ao
longo desses 8 anos.</p>

<p>Nesses eventos e encontros o maior público alcançado foi um pouco mais de 400 pessoas, no
DevFestNorte, e nos demais a comunidade possui uma média de 100 pessoas. E esperamos esse ano
ultrapassar todos esses números, com uma expectativa de 500 pessoas para o TáSafoConf 2015​</p>

<p>Hoje a comunidade conta com 381 inscritos no grupo (safos@yahoogrupos.com.br), mais de 1400
amigos no facebook (facebook.com/comunidadetasafo), mais de 1200 seguidores no twitter (@tasafo) e
mais de 14.000 visitas anuais no site (http://tasafo.org) que são os principais meios de comunicação da
comunidade.</p>

<p>Todos esses números contam com uma diversidade enorme de pessoas participantes que incluem
profissionais, empreendedores, estudantes e todos vivendo em um momento de aquecimento do mercado
local com as novas iniciativas do governo, grandes empreendimentos e o surgimento de várias startups (38
mapeadas pelo AçaíValley​) que mostram um pouco do momento propício para novas iniciativas e
oportunidades na região.</p>

<p>O objetivo desse evento não é só comemorar essa jornada de 8 anos, mas consolidar todo esse movimento
e o momento que a comunidade e a região vivem, promovendo o contato entre as pessoas e as empresas
que acreditam no potencial da região. Além de oferecer a oportunidade de todos os envolvidos conhecerem
o potencial da mão de obra especializada e o enorme mercado inexplorado que existe na região norte.</p>
      </article>
    </div>
  </div>
</section>