<!-- About Section -->
<section id="about" class="about content-background">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <h4>Dia 21 de Novembro de 2015<h4>
            <h4>Serão 4 trilhas de pura agilidade<h4>
              <h5>Mobile</h5>
              <h5>Desenvolvimento, Operações e Testes</h5>
              <h5>Gestão e Negócio</h5>
              <h5>Inovação e Empreendedorismo</h5>
        </div>
    </div>
</section>
<!-- End About Section -->
